/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  box-sizing: border-box;
  font-family: poppins;
  color: #ececec;
  font-size: 1rem;
}
header nav {
  background-color: #2e3131;
}
header nav .dropbtn {
  background-color: #2e3131;
  color: #ececec;
  padding: 1rem;
  font-size: 1rem;
}
header nav .dropbtn .menu {
  width: 35%;
  height: 1px;
  background-color: #ececec;
  margin: 5% 40%;
}
header nav .dropdown {
  position: relative;
  display: inline-block;
}
header nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: plum;
  border: 1px solid black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header nav .dropdown-content a {
  color: black;
  border: 1px solid black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
header nav .dropdown-content a:hover {
  background-color: #D15E64;
}
header nav .dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
}
header nav .dropdown:hover .dropbtn {
  background-color: #DDA0DD;
  color: black;
  border: 1px solid black;
}
header nav .names {
  display: none;
  position: absolute;
  left: 100%;
  top: 32.5%;
  background-color: plum;
  border: 1px solid black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header nav .names a {
  color: black;
  border: 1px solid black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
header nav .names a:hover {
  background-color: #D15E64;
}
header nav .about:hover .names {
  display: block;
  opacity: 1;
}
@media (min-width: 1000px) {
  header .nav-container {
    height: 10rem;
    background-color: #a537fd;
    border-bottom: 2px solid black;
  }
}
header img {
  height: 2.5rem;
  position: absolute;
  right: 10px;
  top: 1.5%;
}
.footer {
  background-color: #a537fd;
  padding: 2%;
  border-top: 2px solid black;
  text-align: center;
}
@media (min-width: 1000px) {
  .footer {
    padding-top: 4%;
    padding-bottom: 1.25%;
  }
}
.main-content {
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main-content .intro {
  height: 25rem;
}
.main-content .intro .text {
  background-color: #a537fd;
  text-shadow: 1px 1px black;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
}
.main-content .button-container {
  height: 60rem;
  width: 100%;
  background-color: #ececec;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main-content .button-container #button {
  height: 20%;
  width: 40%;
  font-size: 2.25rem;
  background: #a537fd;
  color: #ececec;
  border: 1px solid black;
  box-shadow: 2px 1px 2px black;
  text-shadow: 1px 1px black;
  text-decoration: none;
  text-align: center;
  padding-top: 7%;
  padding-bottom: 25%;
  padding-left: 3.5%;
  padding-right: 3.5%;
  border-radius: 50%;
}
.main-content .button-container #button:active {
  border: 1px solid black;
  box-shadow: 0 0 0 #DDA0DD;
  margin-top: 2px;
}
.main-content .middle .text2 {
  padding: 5%;
  padding-top: 6%;
  padding-bottom: 6%;
  border-top: 2px dashed #2e3131;
  text-shadow: 1px 1px black;
  color: #EEAA99;
}
.main-content .middle .text3 {
  padding: 5%;
  padding-top: 6%;
  padding-bottom: 6%;
  border-top: 2px dashed #a537fd;
  text-shadow: 1px 1px black;
  color: #EEAA99;
}
.main-content .middle .text3 a {
  text-shadow: none;
}
.main-content .middle .text4 {
  padding: 5%;
  padding-top: 6%;
  padding-bottom: 6%;
  border-top: 2px dashed #2e3131;
  border-bottom: 2px dashed #a537fd;
  text-shadow: 1px 1px black;
  color: #EEAA99;
}
.main-content .middle .text4 a {
  text-shadow: none;
}
@media (min-width: 420px) {
  .main-content .button-container #button {
    font-size: 3rem;
  }
}
@media (min-width: 500px) {
  .main-content .button-container {
    height: 75rem;
  }
  .main-content .button-container #button {
    width: 35%;
  }
}
@media (min-width: 600px) {
  .main-content .button-container #button {
    width: 30%;
    height: 15%;
  }
}
@media (min-width: 700px) {
  .main-content .button-container #button {
    width: 25%;
    height: 5%;
  }
}
@media (min-width: 750px) {
  .main-content .button-container #button {
    width: 20%;
    padding-bottom: 20%;
    padding-top: 5%;
    font-size: 2.25rem;
  }
}
@media (min-width: 900px) {
  .main-content .button-container #button {
    width: 15%;
    height: 5%;
    padding-bottom: 15%;
  }
}
@media (min-width: 1000px) {
  .main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 43.5rem;
  }
  .main-content .intro {
    width: 22.5%;
    height: 100%;
    background-color: #ececec;
  }
  .main-content .intro .text {
    margin-top: 60%;
    background-color: #ececec;
    text-shadow: 1px 1px black;
    color: #EEAA99;
    border-top: 2px dashed #2e3131;
    border-bottom: 2px dashed #a537fd;
  }
  .main-content .button-container {
    height: 43.5rem;
    width: 55%;
  }
  .main-content .button-container #button {
    font-size: 3rem;
    height: 41%;
    width: 59%;
    padding: 12.5%;
    padding-top: 35%;
  }
  .main-content .button-container #button:active {
    margin-top: 0.25%;
  }
  .main-content .middle {
    width: 22.5%;
    height: 100%;
    border: none;
    background-color: #ececec;
  }
  .main-content .middle .text {
    margin-top: 10%;
    background-color: #ececec;
    text-shadow: 1px 1px black;
    color: #EEAA99;
  }
}
.contact-content .intro {
  height: 10rem;
  width: 100%;
  background-color: #a537fd;
  border-bottom: 2px solid black;
}
.contact-content .intro h1 {
  font-size: 3rem;
  text-shadow: 1px 1px black;
  text-align: center;
  padding-top: 3%;
}
.contact-content #form {
  border: 1px solid black;
  height: 40rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.contact-content #form .form-section {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.contact-content #form .form-section #name {
  margin-top: 1%;
}
.contact-content #form .form-section #email {
  margin-top: 1%;
}
.contact-content #form .form-section #phone {
  margin-top: 1%;
}
.contact-content #form .form-section #message {
  margin-top: 1%;
  height: 10rem;
  width: 80%;
  word-break: break-word;
  white-space: normal;
}
@media (min-width: 1000px) {
  .contact-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 43.5rem;
    background-color: #ececec;
  }
  .contact-content .intro {
    width: 22.5%;
    height: 100%;
    background-color: #ececec;
    border: none;
  }
  .contact-content .intro h1 {
    margin-top: 60%;
    padding-bottom: 4%;
    background-color: #ececec;
    color: #EEAA99;
    border-top: 2px dashed #2e3131;
    border-bottom: 2px dashed #a537fd;
  }
  .contact-content #form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 2px 1px 2px black;
    background-color: white;
    font-size: 1.5rem;
    height: 43.5%;
    width: 26%;
    padding: 10%;
    padding-top: 12.5%;
    padding-bottom: 12.5%;
    border-radius: 50%;
    border: 1px solid black;
  }
  .contact-content #form #name {
    margin: 5%;
  }
  .contact-content #form #phone {
    margin: 5%;
  }
  .contact-content #form #email {
    margin: 5%;
  }
  .contact-content #form #message {
    margin: 5%;
  }
  .contact-content #form button {
    margin: 5%;
  }
  .contact-content .placeholder {
    width: 22.5%;
    height: 100%;
    border: none;
    background-color: #ececec;
  }
}
.about-content .intro {
  height: 20rem;
  width: 100%;
  background-color: #a537fd;
  text-shadow: 1px 1px black;
  font-size: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.about-content .intro h1 {
  text-align: center;
}
.about-content .peeps {
  height: 15rem;
  width: 100%;
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.about-content .peeps .name {
  color: #2e3131;
  font-size: 1.5rem;
  height: 2.25rem;
}
.about-content .middle {
  background-color: #ececec;
  height: 25rem;
  width: 100%;
  border-top: 1px dashed #2e3131;
}
@media (min-width: 1000px) {
  .about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 43.5rem;
  }
  .about-content .peeps {
    width: 22.5%;
    height: 100%;
    background-color: #ececec;
  }
  .about-content .peeps .text {
    margin-top: 60%;
    background-color: #ececec;
    color: #EEAA99;
    border-top: 1px dashed #2e3131;
    border-bottom: 1px dashed #a537fd;
  }
  .about-content .intro {
    border: none;
    height: 43.5rem;
    width: 55%;
    background-color: #ececec;
  }
  .about-content .intro h1 {
    background-color: #a537fd;
    box-shadow: 2px 1px 2px black;
    height: 45%;
    width: 59%;
    padding: 12.5%;
    padding-top: 32%;
    border-radius: 50%;
    border: 1px solid black;
  }
  .about-content .middle {
    width: 22.5%;
    height: 100%;
    border: none;
    background-color: #ececec;
  }
  .about-content .middle .text {
    margin-top: 10%;
    background-color: #ececec;
    color: #EEAA99;
  }
}
.jay-content .peeps .name1 {
  color: #EEAA99;
  text-shadow: 1px 1px black;
}
.jay-content .intro-jay {
  height: 20rem;
  width: 100%;
  background-color: lightgrey;
  font-size: 3rem;
  border: 1px dashed black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.jay-content .intro-jay .img-container {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.jay-content .intro-jay .img-container img {
  height: 100%;
  width: 50%;
}
@media (min-width: 600px) {
  .jay-content .intro-jay .img-container img {
    width: 40%;
  }
}
@media (min-width: 700px) {
  .jay-content .intro-jay .img-container img {
    width: 35%;
  }
}
.jay-content .middle {
  height: 25rem;
  border-top: none;
  color: black;
}
.jay-content .middle p {
  width: 80%;
  margin: 10% auto;
  text-align: center;
}
@media (min-width: 1000px) {
  .jay-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 43.5rem;
  }
  .jay-content .peeps {
    width: 22.5%;
    height: 100%;
    background-color: #ececec;
  }
  .jay-content .peeps .text {
    margin-top: 60%;
    background-color: #ececec;
    color: #EEAA99;
    border-top: 1px dashed #2e3131;
    border-bottom: 1px dashed #a537fd;
  }
  .jay-content .intro-jay {
    height: 43.5rem;
    width: 55%;
    background-color: #ececec;
    border: none;
  }
  .jay-content .intro-jay .img-container {
    background-color: lightgrey;
    box-shadow: 2px 1px 2px black;
    height: 20rem;
    width: 55%;
    padding: 8.15rem;
    padding-top: 0%;
    padding-bottom: 44%;
    border-radius: 50%;
    border: 1px solid black;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .jay-content .intro-jay .img-container img {
    width: 155%;
    height: 250%;
  }
  .jay-content .middle {
    width: 22.5%;
    height: 100%;
    border: none;
    background-color: #ececec;
  }
  .jay-content .middle .text {
    margin-top: 10%;
    background-color: #ececec;
    color: #EEAA99;
  }
}
.derek-content .peeps .name2 {
  color: #EEAA99;
  text-shadow: 1px 1px black;
}
.derek-content .intro-derek {
  height: 20rem;
  width: 100%;
  background-color: lightgrey;
  font-size: 3rem;
  border: 1px dashed black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.derek-content .intro-derek .img-container {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.derek-content .intro-derek .img-container img {
  height: 100%;
  width: 50%;
}
.derek-content .middle {
  height: 25rem;
  border-top: none;
  color: black;
}
.derek-content .middle p {
  width: 80%;
  margin: 10% auto;
  text-align: center;
}
@media (min-width: 1000px) {
  .derek-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 43.5rem;
  }
  .derek-content .peeps {
    width: 22.5%;
    height: 100%;
    background-color: #ececec;
  }
  .derek-content .peeps .text {
    margin-top: 60%;
    background-color: #ececec;
    color: #EEAA99;
    border-top: 1px dashed #2e3131;
    border-bottom: 1px dashed #a537fd;
  }
  .derek-content .intro-derek {
    height: 43.5rem;
    width: 55%;
    background-color: #ececec;
    border: none;
  }
  .derek-content .intro-derek .img-container {
    background-color: lightgrey;
    box-shadow: 2px 1px 2px black;
    height: 20rem;
    width: 55%;
    padding: 8.15rem;
    padding-top: 0%;
    padding-bottom: 44%;
    border-radius: 50%;
    border: 1px solid black;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .derek-content .intro-derek .img-container img {
    width: 155%;
    height: 50rem;
    margin: auto;
  }
  .derek-content .middle {
    width: 22.5%;
    height: 100%;
    border: none;
    background-color: #ececec;
  }
  .derek-content .middle .text {
    margin-top: 10%;
    background-color: #ececec;
    color: #EEAA99;
  }
}
.iree-content .peeps .name3 {
  color: #EEAA99;
}
.iree-content .intro-iree {
  height: 20rem;
  width: 100%;
  background-color: lightgrey;
  font-size: 3rem;
  border: 1px dashed black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.iree-content .intro-iree h1 {
  text-align: center;
}
.iree-content .middle {
  height: 25rem;
  border-top: none;
  color: black;
}
.iree-content .middle p {
  width: 80%;
  margin: 10% auto;
  text-align: center;
}
@media (min-width: 1000px) {
  .iree-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 43.5rem;
  }
  .iree-content .peeps {
    width: 22.5%;
    height: 100%;
    background-color: #ececec;
  }
  .iree-content .peeps .text {
    margin-top: 60%;
    background-color: #ececec;
    color: #EEAA99;
    border-top: 1px dashed #2e3131;
    border-bottom: 1px dashed #a537fd;
  }
  .iree-content .intro-iree {
    height: 43.5rem;
    width: 55%;
    background-color: #ececec;
    border: none;
  }
  .iree-content .intro-iree h1 {
    background-color: lightgrey;
    height: 45%;
    width: 55%;
    padding: 12.5%;
    padding-top: 32%;
    border-radius: 50%;
    border: 1px solid black;
  }
  .iree-content .middle {
    width: 22.5%;
    height: 100%;
    border: none;
    background-color: #ececec;
  }
  .iree-content .middle .text {
    margin-top: 10%;
    background-color: #ececec;
    color: #EEAA99;
  }
}
.amber-content .peeps .name4 {
  color: #EEAA99;
  text-shadow: 1px 1px black;
}
.amber-content .intro-amber {
  height: 20rem;
  width: 100%;
  background-color: lightgrey;
  font-size: 3rem;
  border: 1px dashed black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.amber-content .intro-amber .img-container {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.amber-content .intro-amber .img-container img {
  height: 100%;
  width: 50%;
}
.amber-content .middle {
  height: 25rem;
  border-top: none;
  color: black;
}
.amber-content .middle p {
  width: 80%;
  margin: 10% auto;
  text-align: center;
}
@media (min-width: 1000px) {
  .amber-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 43.5rem;
  }
  .amber-content .peeps {
    width: 22.5%;
    height: 100%;
    background-color: #ececec;
  }
  .amber-content .peeps .text {
    margin-top: 60%;
    background-color: #ececec;
    color: #EEAA99;
    border-top: 1px dashed #2e3131;
    border-bottom: 1px dashed #a537fd;
  }
  .amber-content .intro-amber {
    height: 43.5rem;
    width: 55%;
    background-color: #ececec;
    border: none;
  }
  .amber-content .intro-amber .img-container {
    background-color: lightgrey;
    box-shadow: 2px 1px 2px black;
    height: 20rem;
    width: 55%;
    padding: 8.15rem;
    padding-top: 0%;
    padding-bottom: 44%;
    border-radius: 50%;
    border: 1px solid black;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .amber-content .intro-amber .img-container img {
    margin-left: 8.5%;
    width: 155%;
    height: 48.75rem;
  }
  .amber-content .middle {
    width: 22.5%;
    height: 100%;
    border: none;
    background-color: #ececec;
  }
  .amber-content .middle .text {
    margin-top: 10%;
    background-color: #ececec;
    color: #EEAA99;
  }
}
.kim-content .peeps .name5 {
  color: #EEAA99;
  text-shadow: 1px 1px black;
}
.kim-content .intro-kim {
  height: 20rem;
  width: 100%;
  background-color: lightgrey;
  font-size: 3rem;
  border: 1px dashed black;
}
.kim-content .intro-kim .img-container {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.kim-content .intro-kim .img-container img {
  height: 100%;
  width: 50%;
}
.kim-content .middle {
  height: 25rem;
  border-top: none;
  color: black;
}
.kim-content .middle p {
  width: 80%;
  margin: 10% auto;
  text-align: center;
}
@media (min-width: 1000px) {
  .kim-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 43.5rem;
  }
  .kim-content .peeps {
    width: 22.5%;
    height: 100%;
    background-color: #ececec;
  }
  .kim-content .peeps .text {
    margin-top: 60%;
    background-color: #ececec;
    color: #EEAA99;
    border-top: 1px dashed #2e3131;
    border-bottom: 1px dashed #a537fd;
  }
  .kim-content .intro-kim {
    height: 43.5rem;
    width: 55%;
    background-color: #ececec;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .kim-content .intro-kim .img-container {
    background-color: lightgrey;
    box-shadow: 2px 1px 2px black;
    height: 20rem;
    width: 55%;
    padding: 8.15rem;
    padding-top: 0%;
    padding-bottom: 44%;
    border-radius: 50%;
    border: 1px solid black;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .kim-content .intro-kim .img-container img {
    width: 145.5%;
    height: 250%;
    transform: scale(1.5) translateX(25px);
  }
  .kim-content .middle {
    width: 22.5%;
    height: 100%;
    border: none;
    background-color: #ececec;
  }
  .kim-content .middle .text {
    margin-top: 10%;
    background-color: #ececec;
    color: #EEAA99;
  }
}
