/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  box-sizing: border-box;
  font-family: poppins;
  color: #EEAA99;
}
header nav {
  background-color: plum;
}
header nav .dropbtn {
  background-color: #DDA0DD;
  color: black;
  padding: 1rem;
  font-size: black;
}
header nav .dropbtn .menu {
  width: 30%;
  height: 1px;
  background-color: black;
  margin: 5% 40%;
}
header nav .dropdown {
  position: relative;
  display: inline-block;
}
header nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: plum;
  border: 1px solid black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header nav .dropdown-content a {
  color: black;
  border: 1px solid black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
header nav .dropdown-content a:hover {
  background-color: #D15E64;
}
header nav .dropdown:hover .dropdown-content {
  display: block;
  opacity: 0.75;
}
header nav .dropdown:hover .dropbtn {
  background-color: #DDA0DD;
  color: black;
  border: 1px solid black;
}
.footer {
  background-color: #a537fd;
  padding: 1.5%;
  text-align: center;
}
.main-content {
  margin-top: 2%;
  height: 50rem;
}
.main-content p {
  width: 90%;
  padding: 3%;
}
.main-content .intro {
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.main-content .intro #button {
  border: 1px solid black;
  font-size: 1.5rem;
  background: #a537fd;
  color: #EEAA99;
  text-decoration: none;
  text-align: center;
  padding-top: 22.5%;
  padding-bottom: 22.5%;
  width: 50%;
  border-radius: 50%;
}
.main-content .intro #button:hover {
  color: black;
  background-color: #DDA0DD;
}
.main-content .middle {
  margin-top: 3%;
}
.main-content .middle p {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
