.contact-content{
    .intro {
        height: 10rem;
        width: 100%;
        background-color: #a537fd;
        border-bottom: 2px dashed black;
        h1 { 
            
            font-size: @header * 2;
            text-shadow: 1px 1px black;
            text-align: center;
            padding-top: 3%; 
        }
    }
    #form{
        border: 1px solid black;
        height: 40rem;
        width: 100%;
        .flexin(column, space-evenly, center);
        .form-section{
            color: black;
            .flexin(column, space-around, center);
            width: 100%;
            #name{
                margin-top: 1%;
            }
            #email{
                margin-top: 1%;
            }
            #phone{
                margin-top: 1%;
            }
            #message{
                margin-top: 1%;
                height: 10rem;
                width: 80%;
                word-break: break-word;
                white-space: normal;
            }
        }
    }
    @media @desktop {
        .flexin(row, space-around, center);
        height: 43.5rem;
        background-color: #ececec;
        .intro{
            width: 22.5%;
            height: 100%;
            background-color: #ececec;
            border: none;
            h1{
                margin-top: 60%;
                background-color: #ececec;
                color: @flower;
                border-top: 2px dashed #2e3131;
                border-bottom: 2px dashed #a537fd;
            }
        }
        #form{
            .flexin(column, space-evenly, center);
            border: 1px solid black;
            box-shadow: 2px 1px 2px black;
            background-color: white;
            font-size: @header;
            height: 42%;
            width: 25%;
            padding: 10%;
            padding-top: 12.5%;
            padding-bottom: 12.5%;
            border-radius: 50%;
            border: 1px solid black;
            #name{
                margin: 5%;
            }
            #phone{
                margin: 5%;
            }
            #email{
                margin: 5%;
            }
            #message{
                margin: 5%;
            }
            button{
                margin: 5%;
            }
        }
        .placeholder {
            width: 22.5%;
            height: 100%;
            border: none;
            background-color: #ececec;            
        }
    }
}