.contact-content{
    .intro {
        height: 25rem;
        width: 100%;
        background-color: #a537fd;
        border-bottom: 1px dashed #2e3131;
        h1 { 
            
            font-size: @header * 2;
            text-align: center;
            padding-top: 3%; 
        }
    }
    #form{
        .form-section{
            color: black;
        }
    }
}