.main-content {
    margin-top: 2%; 
    height: 50rem;
    
    p {
        width: 90%;
        padding: 3%;
        
    }
    .intro {
        height: 25rem;
        #button {
            border: 1px solid black;
            font-size: @header;
            background: rgba(165, 55, 253, 1);
            color: @flower; 
            text-decoration: none;
            text-align: center;
            padding-top: 22.5%;
            padding-bottom: 22.5%;
            width: 50%;
            border-radius: 50%;
        }
        #button:hover {
            color: black;
            background-color: @plum;
        }

        .flexin(column, space-evenly, center);
    }
    .middle{
        margin-top: 3%;
        
        p{
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }
    }
    
}