.main-content { 
    height: 50rem;
    .intro {
        height: 25rem;
        .text{
            background-color: #a537fd;
            text-shadow: 1px 1px black;
            padding-top: 3%;
            padding-left: 5%;
            padding-right: 5%;
            padding-bottom: 3%;
        }
        
            
        }
        
        .flexin(column, space-between, center);
    .button-container{

        height: 60rem;
        width: 100%;
        background-color: #ececec;
        #button {
            height: 20%;
            width: 40%;
            font-size: @header * 2;
            background: #a537fd;
            color: #ececec; 
            border: 1px solid black;
            box-shadow: 2px 1px 2px black;
            text-shadow: 1px 1px black;
            text-decoration: none;
            text-align: center;
            padding-top: 7%;
            padding-bottom: 25%;
            padding-left: 3.5%;
            padding-right: 3.5%;
            border-radius: 50%;
        }
        #button:active {
            // color: black;
            border: 1px solid black;
            box-shadow: 0 0 0 @plum;
            // background-color: @plum;
            margin-top: 2px;
        }
        .flexin(row, center, center);
    }
    .middle{
        .text2{
            padding: 5%;
            padding-top: 6%;
            padding-bottom: 6%;
            border-top: 2px dashed #2e3131;
            text-shadow: 1px 1px black;
            color: @flower;
        }
        .text3{
            padding: 5%;
            padding-top: 6%;
            padding-bottom: 6%;
            border-top: 2px dashed #a537fd;
            text-shadow: 1px 1px black;
            color: @flower;
            a{
                text-shadow:none;
            }
        }
        .text4{
            padding: 5%;
            padding-top: 6%;
            padding-bottom: 6%;
            border-top: 2px dashed #2e3131;
            border-bottom: 2px dashed #a537fd;
            text-shadow: 1px 1px black;
            color: @flower;
            a{
                text-shadow: none;
            }
        }
    }
    @media @tablet {
        .button-container{
            height: 75rem;
            #button{
                width: 35%;
            }
        }
    }
    @media(min-width: 600px) {
        .button-container{
            #button{
                width: 30%;
                height: 15%;
            }
        }
    }
    @media(min-width: 700px) {
        .button-container{
            #button{
                width: 25%;
                height: 5%;
            }
        }
    }
    @media(min-width: 750px) {
        .button-container{
            #button{
                width: 20%;
                padding-bottom: 20%;
                padding-top: 5%;
                font-size: @header * 1.5;
            }
        }
    }
    @media(min-width: 900px) {
        .button-container{
            #button{
                width: 15%;
                height: 5%;
                padding-bottom: 15%;
            }
        }
    }
    @media @desktop {
        .flexin(row, space-around, center);
        height: 43.5rem;
        .intro{
            width: 22.5%;
            height: 100%;
            background-color: #ececec;
            .text{
                margin-top: 60%;
                background-color: #ececec;
                text-shadow: 1px 1px black;
                color: @flower;
                border-top: 2px dashed #2e3131;
                border-bottom: 2px dashed #a537fd;
            }
        }
        .button-container{
            height: 43.5rem;
            width: 55%;
            #button {
                font-size: @header * 2;
                height: 41%;
                width: 59%;
                padding: 12.5%;
                padding-top: 35%;
                // padding-bottom: 25%;
            }
            #button:active{
                margin-top: .25%;
            }
        }
        .middle {
            width: 22.5%;
            height: 100%;
            border: none;
            background-color: #ececec;
            .text {
                margin-top: 10%;
                background-color: #ececec;
                text-shadow: 1px 1px black;
                color: @flower;
            }
            
        }
    }
    
}