header {
	nav {
		background-color: #2e3131;
		
    	.dropbtn {
			background-color: #2e3131;
			color: #ececec;
			padding: 1rem;
			font-size: @text;
		.menu{
				width: 35%;
				height: 1px;
				background-color: #ececec;
				margin: 5% 40%;
		}
	  }
	  
	
	.dropdown {
		position: relative;
		display: inline-block;
	}
	  
	  
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: plum;
		border: 1px solid black;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	}
	  
	  
	.dropdown-content a {
		color: black;
		border: 1px solid black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}
	  
	 
	.dropdown-content a:hover {background-color: @chestnut;}
	  
	  
	.dropdown:hover .dropdown-content {display: block; opacity: .75;}
	  
	  
	.dropdown:hover .dropbtn {background-color: @plum; color: black; border: 1px solid black;}

}
}